{% extends 'store/base.html' %}

{% load static %}


{% block content %}

<br/>

    <div class="container">
        <div class="card mb-3" >
            <div class="row g-0">
                <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <center>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }} </p>
                        
                        {% if product.is_sale %}
                            <!-- Product price-->
                        <p class="card-text"><small class="text-body-secondary"><strike>
                                {{product.price}}$
                            </strike>
                            &nbsp;{{product.sale}}$
                            <br>
    
                            

                        {% else %}

                        {% comment %} <p class="card-text"><small class="text-body-secondary">{{ product.price }}</small></p> {% endcomment %}
                            {{product.price}}$
                            
                        {% endif %}                    
                        <br/><br/>
                        
                        <div class="row justify-content-center">
                            <div class="col-md-2">Quantity:</div>
                            <div class="col-md-2">
                                <select class="form-select form-select-sm" id="qty-cart">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                       </div>

                        <br/><br/>
                        <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                        <button class="btn btn-secondary" type="button" value="{{product.id}}" id="add-cart">
                            Add To Cart
                        </button>
                    </div>
                </center>
                </div>
            </div>
        </div>
    </div>

<br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/>

<script>
$(document).on('click','#add-cart',function(e){
    e.preventDefault();
    $.ajax({
        type:'POST',
        url:"{% url 'cart_add' %}",
        data: {
            product_id: $('#add-cart').val(),
            product_qty : $('#qty-cart option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token}}',
            action: 'post',
        },
        success: function(json){
            //console.log(json)
            document.getElementById("cart_quantity").textContent = json.qty
        },
        error: function(xhr, errmsg, err){

        }
    })
})


</script>
{% endblock %}